In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score

In [2]:
df=pd.read_csv('dataset.csv')

In [6]:
df=df.drop('User ID',axis=1)

In [7]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [9]:
real_x=df.drop('Purchased',axis=1)

In [ ]:
real_x=real_x.to_numpy()

In [14]:
le=LabelEncoder()
real_x[:,0]=le.fit_transform(real_x[:,0])

In [17]:
sc=StandardScaler()

In [18]:
real_x=sc.fit_transform(real_x)

In [23]:
real_y=df["Purchased"]
real_y=real_y.to_numpy()

In [32]:
training_x,testing_x,training_y,testing_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [33]:
classifier=KNeighborsClassifier(n_neighbors=9,metric='minkowski',p=2)

In [34]:
classifier.fit(training_x,training_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=9, p=2,
                     weights='uniform')

In [35]:
pred_y=classifier.predict(testing_x)

In [36]:
matrix=confusion_matrix(testing_y,pred_y)
matrix

array([[74,  5],
       [ 4, 37]])

In [38]:
score=accuracy_score(testing_y,pred_y)
score

0.925